

    <div class="card">
    <div class="card-img-wrapper">
      <img *ngIf="homeInput.Image" class="card-img-top" src={{homeInput.Image}}>
      <ul *ngIf="!hideIcons" class="list-inline text-center member-icons animate">
        <li class="list-inline-item">
          <button routerLink="/detail/{{homeInput.Id}}" class="btn btn-primary"><i class="fas fa-edit"></i></button></li>
        <li class="list-inline-item">
          <button class="btn btn-primary"><i class="fas fa-id-card-alt"></i></button></li>
      </ul>
    </div>
    <div class="card-body p-1">
      <h2 class="mb-0">{{homeInput.Name}}</h2>
      <span>{{homeInput.City}}</span>
      <span *ngIf="homeInput.State">,{{homeInput.State}}</span>
      <span *ngIf="homeInput.Country && !homeInput.State">,{{homeInput.Country}}</span>
      <h6 class="mt-2 ">{{homeInput.PType}} | {{homeInput.FType}}
      </h6>
      <hr style="border-color: black;" class="mt-0 mb-2">
      <h6 class="mb-0">Price: <span >{{homeInput.Price}}$</span> | Living area: {{homeInput.HouseSize}} sqft
        | Lot: {{homeInput.LotSize}} acres</h6>
    </div>
    </div>


