
.card-img-wrapper{
  overflow: hidden;
  position: relative;
}
.member-icons{
  position:absolute;
  left:0;
  bottom: -30%;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}
.card:hover img{

  transform: scale(1,1);
  transition-duration: 500ms;
  transition-timing-function: ease-out;
  height: 250px;
  width:220px;
  opacity: .5;
}
.card img{

  transform: scale(1,1);
  transition-duration: 500ms;
  transition-timing-function: ease-out;
  height: 220px;
  width:220px;
}
.card-img-wrapper:hover .member-icons
{
  bottom:0;
  opacity: 1;
}
.animate
{
  transition: all 0.3s ease-in-out;
}
