.card{
  width: fit-content;
  height: fit-content;
}

.boxesLinks
{
  border: 1px solid lightskyblue;
  color:white;
  background-color: lightskyblue;
  padding: 1%;
  cursor: pointer;
  border-radius: 34px;
}
.contentDiv{
    padding: 7%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  align-items: flex-start;
  justify-content:space-evenly;
}
.ngx-gallery { display: inline-block; margin-bottom: 20px; }

.titles
{
  font-size: 1.6em;
}
.data
{
  font-size: 1.3em;
}
.width
{
  margin-left: -10%;
  max-width: 80%;
}
